@font-face {
    font-family: "sunday";
    src: url("Fonts/cd2f1-36d91_sunday.ttf");
}
@font-face {
    font-family: "bauhaus";
    src: url("Fonts/bauhaus.ttf");
}
img{
    width: 700px;
}
p{
    color: rgb(16, 6, 51);
    font-size: 1.5rem;
    font-family: "bauhaus", sans-serif;
}
h1{
color: rgb(255, 0, 0);
background-color: rgb(242, 255, 0);
text-align: center;
font-family: "sunday", sans-serif;
}
h2{
color: rgb(218, 69, 15);
background-color: cornsilk;
text-align: center;
font-family: "sunday", sans-serif;
}
ul{
    list-style-type: circle;
}
li{
    font-family: "bauhaus", sans-serif;
}
body{
    background-color: rgb(233, 219, 114);
    margin-left: 200px;
    margin-right: 200px;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
